@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: var(--color-mono-200);
  --foreground: var(--color-mono-800);
}

.dark {
  --background: var(--color-mono-800);
  --foreground: var(--color-mono-200);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}